# Virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Jupyter notebooks checkpoints (optional)
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
